body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  display: flex;
  justify-content: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chat-messages-countainer {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chat-message-user,
.chat-message-bot {
  display: flex;
  align-items: flex-end;
  max-width: 80%;
}

.chat-message-user {
  align-self: flex-end;
  flex-direction: row;
}

.chat-message-bot {
  align-self: flex-start;
}

/* Message Bubbles */
.chat-text {
  padding: 10px 15px;
  border-radius: 18px;
  font-size: 14px;
  line-height: 1.4;
  word-wrap: break-word;
}

.chat-message-user .chat-text {
  background-color: #198754;
  color: white;
  border-bottom-right-radius: 2px;
  margin-right: 8px;
}

.chat-message-bot .chat-text {
  background-color: #e4e6eb;
  color: black;
  border-bottom-left-radius: 2px;
  margin-left: 8px;
}

.chat-profil {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}


.chat-input {
  display: flex;
  padding: 15px;
  border-top: 1px solid #ddd;
  background-color: white;
}

.text-box {
  flex-grow: 1;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
}

.text-box:focus {
  border-color: #198754;
}

.send-button {
  background-color: #198754;
  color: white;
  border: none;
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.send-button:hover {
  background-color: #0073e6;
}
